# Average height of men by year of birth

In [ ]:
import pandas as pd
from owid import grapher, site

In [ ]:
data = site.get_chart_data(slug="average-height-of-men-for-selected-countries")
data.head()

In [ ]:
grapher.Chart(
    data
).encode(
    x="year",
    y="value",
    c="entity"
).select([
    "France",
    "Germany",
    "Netherlands"
]).label(
    title="Average height of men by year of birth"
).interact(
    entity_control=True,
    enable_map=True
)