# Costs of 66 different technologies over time

In [ ]:
import pandas as pd
from owid import grapher, site

In [ ]:
data = site.get_chart_data(slug="costs-of-66-different-technologies-over-time")
data.head()

In [ ]:
grapher.Chart(
    data
).encode(
    x="year",
    y="value",
    c="entity"
).select([
    "Wind Turbine (Denmark)",
    "Caprolactam",
    "PolyesterFiber",
    "Photovoltaics",
    "Ammonia",
    "DNA Sequencing",
    "Ethanol (Brazil)",
    "Automotive (US)",
    "Beer (Japan)",
    "Aluminum"
]).label(
    title="Costs of 66 different technologies over time"
).interact(
    entity_control=True,
    scale_control=True
)