# Top marginal income tax rates

In [ ]:
import pandas as pd
from owid import grapher, site

In [ ]:
data = site.get_chart_data(slug="maximum-marginal-tax-rates-on-individual-income")
data.head()

In [ ]:
grapher.Chart(
    data
).encode(
    x="year",
    y="value",
    c="entity"
).select([
    "France",
    "Ireland",
    "Iran",
    "Jamaica",
    "Pakistan",
    "Japan",
    "Germany",
    "Netherlands",
    "United Kingdom",
    "Guatemala",
    "Trinidad and Tobago",
    "Botswana",
    "Bolivia",
    "United States",
    "Belgium",
    "Indonesia",
    "Colombia",
    "Sweden"
]).label(
    title="Top marginal income tax rates",
    subtitle="Top marginal tax rate of the income tax (i.e. the maximum rate of taxation applied to the highest part of income)"
).interact(
    entity_control=True
)